:root {
  /* Color palette */
  --apricot: #ffcdb2;
  --english-lavender: #b5838d;
  --melon: #ffb4a2;
  --old-lavender: #6d6875;
  --pastel-pink: #e5989b;

  /* Project */
  --accent: var(--apricot);
  --accent-2: var(--english-lavender);
  --dark: var(--old-lavender);
  --light: #fff;
  --shadow: 0 5px 5px rgba(33, 33, 33, 0.25);
  --space: 2rem;
}

/* Breakpoints */
@custom-media --sm (width >= 576px);
@custom-media --md (width >= 786px);
@custom-media --lg (width >= 992px);
@custom-media --xl (width >= 1200px);
