:root {
  /* Material color */
  --red: #f44336;
  --pink: #e91e63;
  --purple: #9c27b0;
  --deep-purple: #673ab7;
  --indigo: #3f51b5;
  --blue: #2196f3;
  --light-blue: #03a9f4;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --light-green: #8bc34a;
  --lime: #cddc39;
  --yellow: #ffeb3b;
  --amber: #ffc107;
  --orange: #ff9800;
  --deep-orange: #ff5722;
  --brown: #795548;
  --grey: #9e9e9e;
  --grey-100: #f5f5f5;
  --grey-700: #757575;
  --blue-grey: #607d8b;
  --black: #212121;
  --white: #ffffff;

  /* Project */
  --primary: var(--indigo);
  --secondary: var(--pink);
  --radius: var(--space);
  --shadow: 0 5px 5px rgba(33, 33, 33, 0.25);
  --space: 2rem;
  --btn-padding: calc(var(--space) / 3) calc(var(--space));
}

/* Breakpoints */
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 786px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);
